@font-face {
    /* 定义字体名称 */
    font-family: "CustomFont";
    /* 指定字体文件的路径 */
    src: url("fonts/萝莉体.ttf");
}

body {
    /* 应用自定义字体 */
    font-family: "CustomFont", sans-serif;
    background-image: url('background.png');
    /* 设置背景颜色及透明度 */
    background-color: rgba(0, 0, 0, 0.7);
    /* 背景混合模式 */
    background-blend-mode: multiply;
    background-size: 100%;
    color: rgba(255, 255, 255, 1);
}

#userList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

img {
    width: 150px;
    height: auto;
}

h1 {
    margin-top: 50px;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}

/* Webkit: Chrome、Safari */
.custom-scrollbar::-webkit-scrollbar {
    /* 宽度 */
    width: 8px;
    /* 背景色 */
    background-color: rgba(69, 69, 68, 0.7);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    /* 滑块背景色 */
    background-color: rgba(247, 212, 203, 0.7);
    /* 边框圆角 */
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    /* 轨道背景色 */
    background-color: rgba(69, 69, 68, 0.7);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    /* 鼠标悬停时的滑块背景色 */
    background-color: rgba(247, 212, 203, 1);
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
    /* 滑块按下时的背景色 */
    background-color: rgba(247, 212, 203, 1);
}